@font-face {
  font-family: 'Linearicons';
  src: url('fonts/Linearicons.eot?unlm63');
  src: url('fonts/Linearicons.eot?unlm63#iefix') format('embedded-opentype'), url('fonts/Linearicons.ttf?unlm63') format('truetype'), url('fonts/Linearicons.woff?unlm63') format('woff'), url('fonts/Linearicons.svg?unlm63#Linearicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
