@font-face {
  font-family: 'Linearicons';
  src:  url('fonts/Linearicons.eot?digyjl');
  src:  url('fonts/Linearicons.eot?digyjl#iefix') format('embedded-opentype'),
    url('fonts/Linearicons.ttf?digyjl') format('truetype'),
    url('fonts/Linearicons.woff?digyjl') format('woff'),
    url('fonts/Linearicons.svg?digyjl#Linearicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Linearicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e60d";
}
.icon-envelope:before {
  content: "\e696";
}
.icon-share:before {
  content: "\e91f";
}
.icon-cross:before {
  content: "\e92a";
}
.icon-menu:before {
  content: "\e92b";
}
.icon-chevron-up:before {
  content: "\e939";
}
.icon-chevron-down:before {
  content: "\e93a";
}
.icon-chevron-left:before {
  content: "\e93b";
}
.icon-chevron-right:before {
  content: "\e93c";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin2:before {
  content: "\eaca";
}
