@layer utilities {
  @variants responsive {
    .scroll-snap {
      overflow-y: auto;
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;
      scroll-snap-stop: always;

      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .scroll-snap::-webkit-scrollbar {
      display: none;
    }

    .snap-start {
      scroll-snap-align: start;
    }

    .title {
      font-size: 3vw;
      line-height: 1;
    }
  }
}

.scroll-control {
  position: absolute;
  background-color: white;
  height: 165px;
  width: 55px;
  left: 0;
  top: calc(50% - 82.5px);
  z-index: 10;
  @apply shadow-lg;

  @media (min-width: 768px) {
    left: calc((100% / 4) - 40px);
  }

  button {
    width: 100%;
    height: 55px;
  }
}

.image-wrapper {
  @apply w-full h-full shadow-xl relative overflow-hidden cursor-pointer;

  .image {
    @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
  }

  .image-text {
    @apply absolute text-gray-200 text-5xl font-semibold left-4 bottom-4;
  }

  .image-button {
    @apply absolute rounded border-4 border-white text-white px-10 py-5 text-2xl opacity-0;
    top: calc(50% - 40px);
    left: calc(50% - 80px);
  }
}

.image-wrapper:hover {
  .image {
    @apply scale-110;
    filter: brightness(50%);
  }

  .image-button {
    @apply block;
    @apply transition-all duration-500 ease-in-out opacity-75;
  }
}

.home-font {
  font-family: "museo-sans", helvetica, arial;
}

.menu {
  @apply absolute bottom-20;

  .menu-item {
    @apply font-bold text-xl py-1 hover:text-blue-700 cursor-pointer;
  }
}

.diagonal-stripe {
  background: linear-gradient(135deg, #ebebeb 0%, #ebebeb 26%, transparent 26%);
}
