<div class="w-screen h-screen scroll-snap relative diagonal-stripe" id="top-scroll" (scroll)="updateButtons($event)">

  <div class="grid grid-cols-1 md:grid-cols-4 h-full z-0">

    <div class="col-span-1 snap-start" id="snap-0">
      <div class="h-screen w-full p-20 sm:px-10 xl:px-20 relative">

        <div class="mt-16">
          <h1 class="font-bold text-xl text-blue-700">OLI BLADE</h1>
          <h2 class="font-extrabold md:title text-5xl mt-4">Software Developer.</h2>
        </div>

        <div class="menu select-none">
          <div class="menu-item selected">PROJECTS</div>
          <div class="menu-item">HONOURABLE MENTIONS</div>
          <div class="menu-item">ABOUT / CONTACT</div>
        </div>

      </div>
    </div>

    <div class="col-span-3 md:scroll-snap select-none" id="right-scroll" (scroll)="updateButtons($event)">

        <div *ngFor="let p of projects; let i = index;" class="h-screen flex items-center pt-20 pb-20 snap-start" [id]="'snap-' + (i + 1)">
          <a class="image-zoom-wrapper h-full cursor-pointer" [routerLink]="[p.normalisedName]" (click)="projectSelected(i)">
            <div class="image" [ngStyle]="{'background-image': 'url(/assets/images/' + p.normalisedName + '/home.png)' }"></div>

            <h2 class="image-text">{{p.name}}</h2>
            <div class="image-button">
              <span>Showcase</span>
              <i class="icon-chevron-right ml-2 pt-2 font-bold"></i>
            </div>

          </a>
        </div>

    </div>

  </div>

</div>

<div class="scroll-control md:rounded rounded-r select-none">
  <button class="w-full hover:bg-gray-50 disabled:opacity-50" (click)="scrollToPreviousSnap()" [disabled]="!isScrollUpEnabled"><i class="icon-chevron-up"></i></button>
  <button class="w-full cursor-default"><i class="icon-menu"></i></button>
  <button class="w-full hover:bg-gray-50 disabled:opacity-50" (click)="scrollToNextSnap()" [disabled]="!isScrollDownEnabled"><i class="icon-chevron-down"></i></button>
</div>
